<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style sheet link -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
    {% block css %}
    {% endblock %}

    <!-- Scripts -->
    {% block js %}
    {% endblock %}
  </head>

  <body>
    {% block body %}
      Nothing here. :(
    {% endblock %}
  </body>

</html>
