{% extends "base.html" %}

{% block title%}
Dashboard
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/billChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/d3.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/button.js') }}" charset="utf-8"></script>

 {% endblock %}

{% block css %}
<!-- Style sheet link -->
<link href="{{ url_for('static', filename='css/custom2.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
<div class="container-fluid">

<div class="row">

<div class="col-xs-4">
<div class="panel panel-default">
  <div class="panel-heading" style="background: #fff; border-color: #fff;">
    <h3 class="panel-title text-center">Your Profile</h3>
  </div>
  <div class="panel-body" style="color: #d3d3d3;">
    <h4>{{ name }}</h4>
    <h4>{{ email }}</h4>
    <h4>{{ address }}</h4>
    <h4>{{ city }}, {{ state }} {{ zipcode }}</h4>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" style="background: #fff; border-color: #fff; color: #d3d3d3;">
    <h3 class="panel-title" style="font-weight: 500; font-size: 22px; ">Flat Rate</h3>
  </div>
  <div class="panel-body blue-text" style="padding-top: 1px;">
    <h1 class="text-center text-success bigger" style="margin: 0;"><span class="cost"><img src="{{ url_for('static', filename='img/loading.gif') }}"></img></span></h1>
    <h4 class="text-center text-success">Due this month</h4>

    <div class="row">
    <div class="col-xs-6">
    <h4 class="text-left">Electric: </h4>
    <h4 class="text-left">Water: </h4>
    <h4 class="text-left">Gas: </h4>
    </div>
    <div class="col-xs-6">
    <h4 class="text-right subcost">{{ electric }}</h4>
    <h4 class="text-right subcost">{{ water }}</h4>
    <h4 class="text-right subcost">{{ gas }}</h4>
    </div>
</div>
<div class="row">
<div class="col-xs-12 text-center">
<form action="/btn_pay/" method="Post">
    <button type="button" class="btn btn-success btn-sm active make-payment">Make Payment</button>
    <div class="result"></div>
</form>
</div>
</div>
</div>

</div>

</div>

<div class="col-xs-8">
<div class="panel panel-default chart">
  <div class="panel-heading" style="background: #fff; border-color: #fff;">
    <h3 class="panel-title">Bill Trends</h3>
  </div>
  <div class="panel-body blue-text bill-chart">
    <!-- D3 chart goes here -->
  </div>

</div>

</div>

</div>

{% endblock %}

</div>
