{% extends "base.html" %}

{% block title%}
Dashboard
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/billChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/d3.min.js') }}" charset="utf-8"></script>
{% endblock %}

{% block css %}
<!-- Style sheet link -->
<link href="{{ url_for('static', filename='css/custom2.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
<div class="container-fluid">

<div class="row">

<div class="col-xs-4">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your Profile</h3>
  </div>
  <div class="panel-body blue-text">
    <h4>{{ name }}</h4>
    <h4>{{ email }}</h4>
    <h4>{{ address }}</h4>
    <h4>{{ city }}, {{ state }} {{ zipcode }}</h4>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Flat Rate</h3>
  </div>
  <div class="panel-body blue-text">
    <h4>{{ name }}</h4>
    <br />
    <h4>{{ email }}</h4>
</div>

</div>

</div>

<div class="col-xs-8">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bill Trends</h3>
  </div>
  <div class="panel-body blue-text bill-chart">
    <!-- D3 chart goes here -->
  </div>

</div>

</div>

</div>

{% endblock %}

</div>
